{{ partial "header.html" . }}
<body>
    <!--<h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>-->
    <div class="contactme">
        <p>206 464 2387<br>
          <a href="mailto:cchin@seattletimes.com" target="_blank">cchin@seattletimes.com</a><br>
        </p>
        <p>
          <a href="{{ .Site.Params.social.twitter }}" target="_blank"><span class="identifier"><i class="fa fa-twitter"></i></span>@CorinneChin</a><br>
          <a href="{{ .Site.Params.social.instagram }}" target="_blank"><span class="identifier"><i class="fa fa-instagram"></i></span>@corinnechinstagram</a><br>
          <a href="{{ .Site.Params.social.linkedin }}" target="_blank"><span class="identifier"><i class="fa fa-linkedin"></i></span>corinnechin</a><br>
        </p>
    </div>
{{ partial "footer.html" . }}
